<!doctype html>
<html>

<head>
    <title>Bag | Arika</title>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    {% if u_session %}
    {% extends 'nav_logged_in.html' %}
    {% else %}
    {% extends 'nav_layout.html' %}
    {% endif %}

    {% block content %}

    <h1 class="stylised-header-left">/ Bag /</h1>

    {% if error %}
    <p style="margin-left: 11.5em; margin-top: 2em; margin-bottom: 24.5em;">{{ error }}
        {% endif %}

        {% if bag %}
    <form method="POST">
        <input type="submit" class="btn btn-outline-dark" id="remove-btn" value="Empty bag" name="remove" />
    </form>

    <div class="row" style="margin-top: 7em; margin-bottom: -15em;">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <p id="sub-header">/ Order Summary /</p>
            <h5><strong style="margin-right: 4.3em;">Total:</strong> ${{ total }}.00</h5>
            <!-- <form method="POST" name="stripe">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="{{ key }}"
                data-description="Stripe Test"
                data-amount="500"
                data-locale="auto"></script>
            </form> -->

            <button class="btn btn-outline-dark mt-5" id="stripe-btn">Pay with Stripe</button>
        </div>
    </div>
    {% endif %}

    <div class="text-center">
        <table class="bag-table">
            {% for p in product_list %}
            <tr>
                <td><a href="/product/{{ p[0]['name'] }}"><img class="bag-img" src="{{ p[0]['img_url'] }}"></a></td>
                <td>
                    <div style="font-size: 18px;">
                        <p style="font-weight: 600;">{{ p[0]['name'] }}</p>
                        <p style="margin-top: -1em;">${{ p[0]['price'] }}.00</p>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <footer>
        <p>/ <a id="footer-header-link" href="/">Arika</a> /</p>
        <a id="stylised-link" href="/collection">Collection&nbsp;&nbsp;/</a>
        <a id="stylised-link" href="/women">Women&nbsp;&nbsp;/</a>
        <a id="stylised-link" href="/men">Men&nbsp;&nbsp;/</a>
        <a id="stylised-link" href="/new">New</a>
    </footer>

    <!-- Scripts -->

    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe('pk_test_51HZWy0GvdcoiAyvVMva45A1r74HoaKNxFilbka1JYWZuM0Aa124a9kHyBdi84L7EwUlxnXZ9d8e57LXhlyZOz9zf00XZva9tAf');
        var checkoutButton = document.getElementById('stripe-btn');

        checkoutButton.addEventListener('click', function () {
            // Create a new Checkout Session using the server-side endpoint you
            // created in step 3.
            fetch('/create-stripe-session', {
                method: 'POST',
            })
                .then(function (response) {
                    console.log("RESPONSE")
                    console.log(response)
                    return response.json();
                })
                .then(function (session) {
                    console.log("SESSION")
                    console.log(session)
                    return stripe.redirectToCheckout({ sessionId: session.sessionId });
                })
                .then(function (result) {
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using `error.message`.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error('Error:', error);
                });
        });
    </script>

    {% endblock %}
</body>

</html>