<!doctype html>
<html>

<head>
  <title>Collection | Arika</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  {% extends 'nav_layout.html' %}

  {% block content %}

    <h1 class="stylised-header">Collection</h1>
    {% if error %}
      <p class=error id="error-msg-2"><strong>Error:</strong> {{ error }}
    {% endif %}

    <table class="col-product-table">
      {% for row in product_list | batch(3) %}
      <tr>
        {% for p in row %}
        {% if p['name'] %}
          <td>
            <img class="product-img" src="{{ p['img_url'] }}">
            <p class="mt-3"><strong>{{ p['name'] }}</strong></p>
            <p style="margin-top: -1em;">${{ p['price'] }}.00</p>
          </td>
        {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </table>

    <footer>
      <p>/ <a id="footer-header-link" href="/">Arika</a> /</p>
      <a id="stylised-link" href="/collection">Collection&nbsp;&nbsp;/</a>
      <a id="stylised-link" href="/women">Women&nbsp;&nbsp;/</a>
      <a id="stylised-link" href="/men">Men&nbsp;&nbsp;/</a>
      <a id="stylised-link" href="/new">New</a>
    </footer>

  {% endblock %}


</body>

</html>