<!doctype html>
<html>

<body>
    <!-- Navigation Bar Start -->
    <nav class="navbar navbar-expand-md navbar-white bg-white m-3">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <a class="navbar-brand mr-auto" id="header-link" href="/">/ Arika /</a>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">

                <!-- Collections + Browsing -->
                <li class="nav-item dropdown mr-3">
                    <a class="nav-link dropdown-toggle" href="#" id="minor-link" role="button" data-toggle="dropdown">
                        Browse
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/women">Women</a>
                        <a class="dropdown-item" href="/men">Men</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/new">New</a>
                    </div>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" id="minor-link" href="/collection">Collection</a>
                </li>
                
                <!-- Login/Sign Up -->
                <li class="nav-item mr-2">
                    <a class="nav-link btn btn-dark btn-block text-white" id="sml-btn" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-dark" id="large-btn" href="/signup">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Navigation Bar End -->
    {% block content %}{% endblock %}
</body>

</html>