<!doctype html>
<html>

<head>
    <title>View | Arika</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    {% if u_session %}
    {% extends 'nav_logged_in.html' %}
    {% else %}
    {% extends 'nav_layout.html' %}
    {% endif %}

    {% block content %}

    <div class="text-center" style="margin-top: 4em; margin-bottom: 10em;">
        <form method="POST">
            <table class="col-product-table">
                {% for p in product_list %}
                <tr>
                    <td><img class="cover-img" src="{{ p['img_url'] }}"></td>
                    <td>
                        <div style="margin-top: -5em;">
                            {% if message %}
                            <p>{{ message }}</p>
                            {% endif %}
                            <h1 class="stylised-header">/ {{ p['name'] }} /</h1>
                            <p class="mt-1" style="font-size: 20px;">${{ p['price'] }}.00 / {{ p['colour'] }}</p>
                            <div style="font-size: 17px; margin-top: 3em; margin-bottom: 2em;">
                                <select class="form-select form-select-sm mr-2" name="size">
                                    <option value="XS" selected>XS</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                </select>

                                <a href="/size_tool" class="btn btn-outline-dark" id="size-btn">Measure size</a>
                            </div>

                            <!-- Hidden Input -->
                            <input type="hidden" value="{{ p['name'] }}" name="product_name">
                            <input type="submit" class="add-btn" value="Add to bag" name="add" />
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </form>
    </div>

    <footer>
        <p>/ <a id="footer-header-link" href="/">Arika</a> /</p>
        <a id="stylised-link" href="/collection">Collection&nbsp;&nbsp;/</a>
        <a id="stylised-link" href="/women">Women&nbsp;&nbsp;/</a>
        <a id="stylised-link" href="/men">Men&nbsp;&nbsp;/</a>
        <a id="stylised-link" href="/new">New</a>
    </footer>

    {% endblock %}
</body>

</html>