<!doctype html>
<html>

<head>
    <title>Home | Arika</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    {% if u_session %}
    {% extends 'nav_logged_in.html' %}
    {% else %}
    {% extends 'nav_layout.html' %}
    {% endif %}

    {% block content %}

    <h1 class="align-head" style="margin-top: 5em;">Size Measurement Tool</h1>

    {% if size %}
    <p id="size-msg">Your size is: <strong>{{ size }}</strong></p>
    {% endif %}

    <div class="row mt-4">
        <div class="col"></div>
        <div class="col">
            <form method="POST">
                <div class="form-group">
                    <label for="bust"><b>Chest</b></label>
                    <input type="number" class="form-control" placeholder="Enter chest size" name="bust" required>
                </div>
                <div class="form-group">
                    <label for="waist"><b>Waist</b></label>
                    <input type="number" class="form-control" placeholder="Enter waist size" name="waist" required>
                </div>
                <div class="form-group">
                    <label for="hip"><b>Hip</b></label>
                    <input type="number" class="form-control" placeholder="Enter hip size" name="hip" required>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-dark mt-4" id="sml-btn" name="measure">Measure</button>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>

    {% endblock %}

</body>

</html>